* {
  margin:  0;
  padding:  0;
  box-sizing: border-box;

}

.navbar {
  /*background-color: #A66CFF;*/
  border-bottom: 5px solid #80558C;
/*  border-bottom:  1px solid #469387 ;*/
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
color:  white;
position: sticky;
top: 0;
background-color: white;
z-index: 1;
}

.banner {
  margin-top:  50px;
  background-color: #2E0249;
  color: white;
}

.banner-btn:hover {
  border: 0;
  background-color: #E9D5CA;
  border: 2px solid #E9D5CA;
  color: #2E0249;
}

.banner-btn {
  text-align: center;
  padding: 5px;
  width: 180px;
  /*height: 8rem;*/
  border: 0;
  border: 2px solid #E9D5CA;
  background-color: #F9F3EE;
  text-decoration: none;
  color: #2E0249;
}

.banner-text {
    color:  #F6FBF4;
}

.cardHighlight {
  margin-top: 10%;
  border: none;
  border-left: 5px solid #7A4495;
}

.error {
  margin-top: 20px;
  background-color: #aad3dc;
}

.card1 {
  min-height: 100%;
  color:  #444444;
}


/* Register  */
.rowRegister{
  /*background-color: #aad3dc;*/
  font-family: Montserrat;
  margin-top: 1rem;
  height: 100vh;
}

.colRegister {
  background-color: #2E0249;
  font-weight: 800;
  /*color:  #041E42;*/
  padding-top:15% ;
  font-size: 4rem;
  padding-left: 3rem;
}

.register {
    font-weight: 500;
  font-size: 1rem;
  background-color: white;
  margin-top:  10%;
  width:  90%;
  border: 1px solid #80558C;
  padding-left: 2rem;
  padding-top: 2rem;

}

.register-banner {
  color: white;
}

.registerHeader, {
  text-align: center;
}

.registerInput {
  
  border: 0;
  border-bottom: 1px solid #80558C;
  background-color: white;
  width:  95%;
}

.registerFormTitle {
  padding-top:  1.5rem;

}



/* LogIn  */

.loginContainer {
  background-color: #E9D5CA;
  font-family: Montserrat;
  margin-top: 10%;
  width: 100%;
  padding: 2%;
}

.loginTitle {
  text-align: center;
  font-weight: 800;
}

.logInInput{
  border: 0;
  border-bottom: 1px solid gray;
}

.btnLogin {
  width: 50%;
  margin: 0 25%;
  text-align: center;
  border: 0;
  background-color: #80558C;
}

.btnLogin:hover {
  background-color: white;
  color:  red !important;
  border: 0;
  border:  1px solid  #80558C;
}

/* Products */

.product-header {
  margin-top: 3%;
}

.icon {
  width:  50%;
  height:  50%;
  color:  #7A4495;
}

.icon-box {
   text-align: center; 
}


/* Product Card */
.buttonView {
  margin: 8px 0px;
  border : 0;
  border:  1px solid #7A4495;
  padding: 5px;
  text-decoration: none;
  color:  #7A4495;
}

.buttonView:hover {
  margin: 8px 0px;
  border : 1px solid #7A4495;
  background-color:  #7A4495;
  padding: 5px;
  text-decoration: none;
  color:  white;
}

.buttonFunction {
/*  width:  40px  ;
    padding:  5px;*/
  border:  0;
  background-color:  #7A4495;
  border:  1px solid #7A4495;
}


.buttonFunction:hover {
/*  width:  40px  ;
  padding:  5px;*/
  background-color:  white;
  color: #7A4495;
  border:  1px solid #7A4495;
}

.buyButton {
  width:  50%;
  border:  0;
  background-color:  #7A4495;
  border:  1px solid #7A4495;
  margin-left: 50%;
  top : 0;
}

.buyButton:hover {
  background-color:  white;
  color: #7A4495;
  border:  1px solid #7A4495;
}

/* Banner */ 


/*Admin Product*/

.productAdminButton{
  padding: 2px 10px;
  border:  1px;
}

.productAdminButton.btn-delete{
  border:  .5px solid #7A4495;
  background-color: white;
  color:  #7A4495;
}

.productAdminButton.btn-delete:hover{
  background-color: #7A4495;
  color:  white;
}

.productAdminButton.btn-edit{
  border:  .5px solid #7A4495;
  background-color: white;
  color:  #7A4495;
}

.productAdminButton.btn-edit:hover{
  background-color: #7A4495;
  color:  white;
}

.productAdminButton.btn-deact{
  border:  .5px solid #7A4495;
  background-color: white;
  color:  #7A4495;
}

.productAdminButton.btn-deact:hover{
  border:  .5px solid #7A4495;
  background-color:  #AB46D2;
  color:  white;
} 
.productAdminButton.btn-act{
  border:  .5px solid #7A4495;
  background-color: #7A4495;
  color: white;
}

.productAdminButton.btn-act:hover{
  border:  .5px solid #7A4495;
  background-color: white;
  color: #7A4495;
}

.productAdminAdd {
  border: 1px solid #7A4495;
  background-color: white;
  color: #700B97 ;
}

.productAdminAdd:hover {
  border: 1px solid #7A4495;
  background-color: #700B97;
  color: white ;
}
/* Profile */
.profile-row {
  /*  background-color: #E9D5CA;*/
      border:  1px solid #7A4495;

}
.profile-section {
  border:  1px solid #7A4495;
  padding: 2%;
}

.order-section {
    border:  1px solid #7A4495;
}
.profile-logo, .profile-header{
  text-align: center;
}

.profile-icon {
  padding: 5px;
  width: 80%;
  height: 100%;

}

/* User Order */
.table-header{
  background-color: #7A4495;
  text-align: center;
      position: sticky;
    top:  60px;
  


}

.table-header-content {
  color: white;

}

.table {
  border:  1px solid #7A4495 ;
    /*  overflow: scroll;*/
}

Table thead{

}

/* Media Query */
@media screen and (min-width: 600px) {
/*//For Tablets*/
    .loginContainer {
        width: 100;
    }
   /* .colRegister {
      background-color: #2E0249;
      font-weight: 800;
      color:  #041E42;
      padding-top:15% ;
      font-size: 4rem;
      padding: 1rem;
    }*/
}

@media screen and (min-width: 768px) {
/*//For Laptops*/
    .loginContainer {
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
/*//For Large Laptops*/
    .loginContainer {
        width: 60%;
    }
}

@media screen and (min-width: 1280px) {
/*//For Big TV's (HD Screens) */
    .loginContainer {
         width: 40%;
    }
}


@media screen and (min-width: 1920px) {
/*//For Projectors or Higher Resolution Screens (Full HD)*/
    .loginContainer {
         width: 60%;
    }
}
@media screen and (min-width: 3840px) {
/*//For 4K Displays (Ultra HD)*/
    .loginContainer {
        width: 40%;
    }
}
